body {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  width: 1440px;
}

a {
  text-decoration: none;
}

header {
  background-color: #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  max-width: 1158px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.features-title,
.team-list-title,
.portfolio-title {
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
}

.features-card-titles,
.team-list-card-titles,
.portfolio-card-titles {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.features-card-text,
.team-list-card-text,
.portfolio-card-text {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 24px;
}

/*      Header   //////////////////////////////// */

.header-main .container {
  display: flex;
  /* gap: 332px; */
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
  padding-left: 15px;
  padding-right: 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo span {
  color: #2e2f42;
}

.header-nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-nav-links {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.header-address {
  font-style: normal;
}
.header-address-list {
  display: flex;
  gap: 40px;
  /* padding-right: 156px; */
}
.header-address-links {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #434455;
  letter-spacing: 0.02em;
}
.header-nav-links:hover,
.header-nav-links:focus {
  color: #404bbf;
}
.header-address-links:hover,
.header-address-links:focus {
  color: #404bbf;
}

/*      Hero    //////////////////////////// */

.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.hero-section-title {
  max-width: 496px;
  font-weight: 700;
  line-height: 60px;
  font-size: 56px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.07;
}
.hero-section-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.hero-section-button:hover,
.hero-section-button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

/*       section 2     features-section   ///////////////// */

.features-card-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.features-card {
  flex-basis: calc((100%-72px) / 4);
}
.features-card-titles {
  margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*       Section 3     team-list-section     ////////////////// */

.team-list-section {
  background-color: #f4f4fd;
}

.team-list-cards {
  display: flex;
  gap: 24px;
}
.team-list-title {
  margin-bottom: 72px;
}

.team-list-card {
  background-color: #ffffff;
  flex-basis: calc((100%-72px) / 4);
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
}
.team-list-card-content {
  text-align: center;
  padding: 32px 0;
}
.team-list-card-titles {
  margin-bottom: 8px;
}
/*        Section 4     portfolio-section    //////////////// */

.trouble {
  line-height: 1.11;
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-card {
  width: calc((100% - 48px) / 3);
}
.portfolio-cards-img {
  max-width: 100%;
}
.portfolio-card-content {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;

  /* border-width: 5px, 1px, 1px, 1px;
  border-style: solid;
  border-color: #e7e9fc; */
}

.portfolio-card-titles {
  margin-bottom: 8px;
}

/*      footer      ///////////////////////////////////////*/

.footerok {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footerok-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.footerok-span {
  color: #f4f4fd;
}

.footerok-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.footerok-text {
  max-width: 264px;
}
