:root {
  --color-primary-brand: #4d5ae5;
  --color-pressed-state: #404bbf;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-text: #434455;
  --color-subtle-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-modal-overlay: #1d1519;
  --color-hero-background: #2e2f42b2;
  --color-white-background: #ffffff;
  --color-modal-background: #fcfcfc;
}
/* .................................................. */
body {
  background-color: var(--color-white-background);
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
}
@media (min-width: 320px) {
  .body {
    overflow-x: hidden;
  }
}
/* ....................................... */
a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea {
  outline: none;
}
/* ................................ */
.section {
  /* padding-top: 96px;
  padding-bottom: 96px; */
  padding: 96px 0;
}
@media (min-width: 1158px) {
  .section {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding: 120px 0;
  }
}
/* ................................. */
.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  align-items: center;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}
/* ..................................... */
.features-title,
.team-list-title,
.portfolio-title {
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: var(--color-dark);
}

.team-list-card-titles,
.portfolio-card-titles {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-dark);
  letter-spacing: 0.02em;
}

.team-list-card-text,
.portfolio-card-text {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 24px;
}

/*      Header   //////////////////////////////// */
.header-main {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid var(--color-accent);
}
.header-main .container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-accent);
}
/* /....................................... */
.header-nav {
  display: flex;
  align-items: center;
}
@media (max-width: 1158px) {
  .header-nav {
    gap: 120px;
  }
}
/* ......................................... */
.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
  /* margin-right: 0; */
}
@media (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}
.header-logo span {
  color: var(--color-dark);
  position: relative;
  transition-property: color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo span:hover {
  color: var(--color-pressed-state);
}
.header-logo span:hover:after,
.header-logo span:focus:after {
  background-color: var(--color-pressed-state);
}
/* .......................................... */
/* .header-logo span:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  content: "";
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
} */
/* .............................................. */
.header-nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 768px) {
  .header-nav-list {
    display: none;
  }
}
/* ............................................... */
.header-nav-links {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-dark);
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  position: relative;
  padding: 24px 0;
}
.nav-link-studio {
  color: var(--color-pressed-state);
}
.header-nav-links:hover,
.header-nav-links:focus {
  color: var(--color-pressed-state);
}
.nav-link-studio:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--color-pressed-state);
  border-radius: 2px;
  color: var(--color-pressed-state);
}
/* ...................................................... */
.header-address {
  font-style: normal;
}
.header-address-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0;
}
@media (min-width: 1158px) {
  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }
}
/* ......................................................... */

.header-address-links {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: var(--color-text);
  letter-spacing: 0.04em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
@media (min-width: 1158px) {
  .header-address-links {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
}
@media (max-width: 768px) {
  .header-address-links {
    display: none;
  }
}
.header-address-links:hover,
.header-address-links:focus {
  color: var(--color-pressed-state);
}

/*        Burger Btn / Btn close modal nav         /////////////////////////////////////////// */
.header-burger-icon {
  fill: #2f2f37;
}
.header-burger-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .header-burger-btn {
    display: none;
  }
}
.modal-burger-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid rgba(46, 47, 66, 0.1);
  /* opacity: 10%; */
  border-radius: 50%;
  background-color: rgba(231, 233, 252, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-burger .modal-burger-svg-x {
  fill: var(--color-dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-burger-close-btn:focus,
.modal-burger-close-btn:hover {
  background-color: var(--color-pressed-state);
  border: none;
}

.modal-burger-close-btn:focus .modal-burger-svg-x,
.modal-burger-close-btn:hover .modal-burger-svg-x {
  fill: var(--color-white-background);
}

/* ////////////  Modal window burger   /////////////////////////////////////////////////// */
.modal-burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 72px 24px 40px 16px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--color-white-background);
}
.modal-burger.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal-burger-nav {
  margin-bottom: 168px;
}
.modal-burger-nav-links {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
}
.modal-burger-nav-list li:not(:last-child) {
  margin-bottom: 40px;
}

.modal-burger-nav-links:focus,
.modal-burger-nav-links:hover {
  color: var(--color-pressed-state);
}
/* .modal-burger-address {
  display: flex;
  flex-direction: column;
} */
.modal-burger-address-links {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.modal-burger-address-links:focus,
.modal-burger-address-links:hover {
  color: var(--color-primary-brand);
}
.modal-burger-address-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.modal-burger-mes-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
.modal-burger-mes-ul-li {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-burger-mes-ul-li-a {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-burger-mes-ul-li-a:focus,
.modal-burger-mes-ul-li-a:hover {
  background-color: var(--color-pressed-state);
}
/*     SECTION 1     Hero    /////////////////////////////////////////////////// */

.hero-section {
  padding: 188px 0;
  background-color: var(--color-dark);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 1440px;
  margin: 0 auto;
}
@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img@2x.jpg);
  }
}
@media (max-width: 1158px) {
  .hero-section {
    padding: 112px 0;
  }
}
@media (max-width: 768px) {
  .hero-section {
    padding: 72px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img-small.jpg);
  }
}
/* .................................................. */
.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
@media (min-width: 768px) {
  .hero-section .container {
    gap: 48px;
  }
}
@media (min-width: 1158px) {
  .hero-section .container {
    gap: 36px;
  }
}
/* .................................................. */
.hero-section-title {
  max-width: 216px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: var(--color-white-background);
  text-align: center;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) {
  .hero-section-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}
/* ................................................... */
.hero-section-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white-background);
  background-color: var(--color-primary-brand);
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section-button:hover,
.hero-section-button:focus {
  background-color: var(--color-pressed-state);
}

/*       SECTION 2    Features-section   ////////////////////////////////////// */

.features-card-div-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border: 1px solid var(--color-subtle-text);
  border-radius: 4px;
  background: var(--color-light);
  margin-bottom: 8px;
}
@media (max-width: 1158px) {
  .features-card-div-svg {
    display: none;
  }
}
/* ......................................... */
.features-card-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media (min-width: 768px) {
  .features-card-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media (min-width: 1158px) {
  .features-card-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
/* ......................................... */
@media (min-width: 768px) {
  .features-card {
    width: calc((100% - 24px) / 2);
  }
}
@media (min-width: 1158px) {
  .features-card {
    width: calc((100% - 72px) / 4);
  }
}
/* ........................................... */
.features-card-titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--color-dark);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
@media (min-width: 1158px) {
  .features-card-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}
/* ............................................ */

.features-card-text {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
@media (min-width: 1158px) {
  .features-card-text {
    font-weight: 400;
  }
}
/* ............................................. */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*       Section 3     team-list-section     ////////////////// */

.team-list-section {
  background-color: var(--color-light);
}
.team-list-title {
  margin-bottom: 72px;
}
/* ............................................ */
.team-list-cards {
  display: flex;
  flex-direction: column;
  gap: 72px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .team-list-cards {
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}
@media (min-width: 1158px) {
  .team-list-cards {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
  }
}
/* .................................................... */

.team-list-card {
  width: 264px;
  background-color: var(--color-white-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media (min-width: 768px) {
  .team-list-card {
    width: calc((100% - 24px) / 2);
    max-width: 264px;
  }
}
@media (min-width: 1158px) {
  .team-list-card {
    flex-basis: calc((100% - 72px) / 4);
    max-width: 264px;
  }
}
/* ................................................. */
.team-list-card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 32px 0 32px;
  gap: 8px;
}

.team-list-content-messangers {
  align-items: center;
  flex-direction: row;
  max-width: 100%;
}
.team-list-con-mes-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-list-con-mes-ul-li {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-con-mes-ul-li-a {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-con-mes-ul-li-a:focus,
.team-list-con-mes-ul-li-a:hover {
  background-color: var(--color-pressed-state);
}
.icon-mess {
  fill: var(--color-light);
}

/*        Section 4     portfolio-section    //////////////// */

.div-overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-light);
  padding: 40px 32px;
  background-color: var(--color-primary-brand);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ...................................................... */
.portfolio-cards {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (min-width: 768px) {
  .portfolio-cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media (min-width: 1158px) {
  .portfolio-cards {
    gap: 48px 24px;
  }
}
/* ........................................................... */
@media (min-width: 768px) {
  .portfolio-card {
    width: calc((100% - 24px) / 2);
  }
}
@media (min-width: 1158px) {
  .portfolio-card {
    flex-basis: calc((100% - 48px) / 3);
  }
}
.portfolio-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover p {
  transform: translateY(0%);
}
/* ........................................................... */
.trouble {
  line-height: 1.11;
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-cards-img {
  max-width: 100%;
}
.portfolio-card-content {
  padding: 32px 16px;
  border-left: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
}

.portfolio-card-titles {
  margin-bottom: 8px;
}

/*      footer      ///////////////////////////////////////*/

.footerok {
  background-color: var(--color-dark);
  padding: 100px 0;
}
/* .footerok .container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
} */
.footerok .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
.footerok-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
  margin-bottom: 16px;
}
.footerok-span {
  color: var(--color-light);
}

.footerok-text {
  line-height: 1.5;
  color: var(--color-light);
  letter-spacing: 0.02em;
  /* max-width: 264px; */
}

.footerok-social-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--color-white-background);
}

.footerok-icon-mess {
  fill: var(--color-light);
}
.footerok-logodiv {
  margin-right: 120px;
}
.footerok-social-messengers-list {
  display: flex;
  gap: 16px;
}
.footerok-social-messengers {
  width: 40px;
  height: 40px;
}
.footerok-social-links {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footerok-social-links:focus,
.footerok-social-links:hover {
  background-color: var(--color-success);
}
/* ................................................ */
.footerok-subscribe {
  /* margin-left: 80px; */
}
.footerok-subscribe-form {
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.subscribe-form-input {
  width: 264px;
  height: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  border: 1px solid var(--color-white-background);
  border-radius: 4px;
  padding-left: 16px;
  color: var(--color-white-background);
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 2;
}
.subscribe-form-input::placeholder {
  color: var(--color-white-background);
  font-size: 12px;
}
.footerok-subscribe-text {
  color: var(--color-white-background);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footerok-icon-btn {
  fill: var(--color-white-background);
  margin-left: 16px;
}
.footerok-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-brand);
  color: var(--color-white-background);
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  border: none;
  letter-spacing: 0.04em;
  font-weight: 500;
  border-radius: 4px;
  padding: 8px 24px 8px 24px;
  line-height: 1.5;
}
/* Modal    ///////////////////////////////////////// */
.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--color-modal-background);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--color-modal-background);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus,
.modal-close-btn:hover {
  background-color: var(--color-pressed-state);
  border: none;
}
.modal-overlay .modal-svg-x {
  fill: var(--color-dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus .modal-svg-x,
.modal-close-btn:hover .modal-svg-x {
  fill: var(--color-white-background);
}
.modal-text {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
  color: var(--color-dark);
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.form-label {
  display: block;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: var(--color-subtle-text);
}
.form-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}
.form-textarea {
  resize: none;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  height: 120px;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.textarea-form-container {
  margin-bottom: 16px;
}
.modal-input-container-svg {
  position: relative;
}
.modal-input-container {
  position: relative;
  margin-bottom: 8px;
}
.svg-form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--color-dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus-within,
.form-input:focus-within {
  border-color: var(--color-primary-brand);
}
.form-input:focus + .svg-form {
  fill: var(--color-primary-brand);
}
/*          BTN       ///////////////////////////////////////////// */
.modal-btn {
  display: block;
  align-self: center;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  color: var(--color-white-background);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--color-primary-brand);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Checkbox    ///////////////////////////////////////////////// */

.span-modal-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: var(--color-white-background);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.checkbox-conteiner {
  margin-bottom: 24px;
  align-items: center;
  align-self: flex-start;
}
.link-privacy {
  text-decoration: underline solid;
  line-height: 16px;
  color: var(--color-primary-brand);
}
.checkbox-label {
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--color-subtle-text);
}
.check-input:checked + .checkbox-label .span-modal-checkbox {
  background-color: var(--color-pressed-state);
  fill: var(--color-light);
  border: none;
}
