body {
  background-color: #ffffff;
  font-family: "Roboto", "Raleway", sans-serif;
  color: #434455;
}
a {
  text-decoration: none;
}
.hero-section {
  background-color: #2e2f42;
}
.hero-section-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.hero-section-button:hover,
.hero-section-button:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.header-nav-links {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #2e2f42;
}
.header-address-links {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #434455;
}

.header-nav-links:hover,
.header-nav-links:focus {
  color: #404bbf;
}
.header-address-links:hover,
.header-address-links:focus {
  color: #404bbf;
}
.hero-section-title {
  font-weight: 700;
  line-height: 60px;
  font-size: 56px;
  color: #ffffff;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #2e2f42;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #2e2f42;
}
p {
  font-size: 16px;
  line-height: 24px;
}
header {
  background-color: #e7e9fc;
}
.team_list-section {
  background-color: #f4f4fd;
}
footer {
  background-color: #2e2f42;
}
